.primaryStage {
    -fx-background-color: Transparent;
}
.head{
        -fx-background-color: linear-gradient( to right top, #47cfd2, #fc76b3);
        -fx-background-radius: 25;
    }
.body {
    -fx-background-color: white;
    -fx-background-radius: 25;
}
.XBtn {
    -fx-background-color: transparent;
}
.functionBtn{
    -fx-background-radius: 25;
    -fx-background-color: #47cfd2;
    -fx-text-fill: white;
    -fx-font-size: 15;
}
.logout {
    -fx-background-color: linear-gradient(to right top, #47cfd2, #fc76b3);
    -fx-background-radius: 25;
}
