.primaryStage{
    -fx-background-color: Transparent;
}
.fieldsAnchorPane {
    -fx-background-color: white;
    -fx-background-radius: 25;
}
.sideBar{
    -fx-background-color: linear-gradient( to right top, #47cfd2, #fc76b3);
    -fx-background-radius: 25;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.XBtn{
    -fx-background-color: transparent;
}
.createBtn{
    -fx-background-color: linear-gradient(to right top, #47cfd2, #fc76b3);
    -fx-background-radius: 25;
}
